html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2.5rem;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  margin-top: 1rem;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.card-container img {
    height: 50vh;
    width: 90vmin;
    object-fit: contain;
}
.message{
    text-align: center;
}
.header-container, .btns-container{
    display: flex;
    justify-content: space-around;
}
button{
    border: none;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    color: white;
}
.red{
    background-color: red;
    border: 3px darkred solid;
}
.green{
    background-color: green;
    border: 3px darkgreen solid;
}
.icon{
    font-size: 3rem;
}
.hide{
    display: none;
}