html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2.5rem;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  margin-top: 1rem;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.card-container img {
    height: 50vh;
    width: 90vmin;
    object-fit: contain;
}
.message{
    text-align: center;
}
.header-container, .btns-container{
    display: flex;
    justify-content: space-around;
}
button{
    border: none;
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
    background-color: transparent;
}
.red{
    color: red;
}
.green{
   color:green
}
.count{
   font-size: 5rem; 
   padding: 0 1rem;
}
.hide{
    display: none;
}